
.d-header {
    height: 70px;
    background-color: var(--dcolor-bg-header);
    color: var(--dcolor-font-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.d-qtd-product{
    display: flex;
    justify-content: space-between;
    
}

p {
    margin-left: 5px;
}

